<header class="header">
  <div class="container header-container">
    <h1 class="title" routerLink="/"><span class="blue">BABCOCK</span> <span class="gold">UNIVERSITY</span></h1>

    <div class="account-info" *ngIf="isLoggedIn">      
      <button (window:resize)="checkIfMobile()" mat-raised-button 
        class="logout-btn" (click)="logout()" routerLink="login">
        <fa-icon *ngIf="isMobile" [icon]="logoutIcon"></fa-icon>
        <span *ngIf="!isMobile">Logout</span>
      </button>
    </div>
  </div>
</header>