@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');

*, h1, h2, h3, h4, h5, h6{
  font-family: 'Comfortaa';
}

.header{
  border-bottom: 1px solid #0047ab;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
  background-color: #ffff;
}
.header-container{
  display: flex;
  place-items: center;
  justify-content: space-between;
  height: 70px;
}
.account-info{
  display: flex;
  place-content: center;
  place-items: center;
}
.account-info > h1, .header-container > h1{
  margin: 0px;
}
.title{
  font-size: 25px;
}
.blue{
  color: #003898;
  margin-right: 10px;
  font-weight: bold;
}
.gold{
  color: #be9549;
  font-weight: thin;
}
.login-btn, .logout-btn{
  background-color: #0047ab;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  padding: 5px 30px;
  margin-left: 40px;
}

/* Tablet CSS */
@media only screen and (max-width: 768px) {
  .logout-btn{
    padding: 5px 0px;
    margin-left: 10px;
    font-size: 15px;
  }
}

/* Mobile CSS */
@media only screen and (max-width: 425px) {
  .title{
    font-size: 17px;
  }
  .logout-btn{
    padding: 5px 0px;
  }
  .nav-icon{
    font-size: 30px;
  }
  .logout-icon{
    font-size: 20px;
  }
}