<div class="container login-container">
  <div class="login-border">
    <mat-progress-bar mode="indeterminate" *ngIf="loading" class="loading"></mat-progress-bar>

    <h1 class="login-title">Welcome!</h1>
  
    <form (submit)="login()">
      <div class="error-container" [@errorAnimation]="error ? 'animate' : 'nothing'">
        <div class="form-error">
          <p *ngIf="error">{{error}}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="email">e-Mail/Matric No:</label>
        <input [(ngModel)]="username" name="username" type="text"
          placeholder="1234@example.com" autocomplete="email">
      </div>
      <div class="form-group">
        <label for="password">password:</label>
        <input [(ngModel)]="password" name="password" [type]="showPassword == true ? 'text' : 'password'"
          placeholder="********" autocomplete="password">
      </div>
      <div class="form-group-btn">
        <button mat-button (click)="showPasswordFunc()" type="button">{{showPassword == true ? 'Hide' : 'Show'}} Password</button>
      </div>
      <div class="form-group-btn">
        <button mat-raised-button class="login-btn">Login</button>
      </div>
    </form>
  </div>
</div>