@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');

*, h1, h2, h3, h4, h5, h6{
  font-family: 'Comfortaa';
}

.login-container{
  display: flex;
  place-content: center;
  place-items: center;
  height: calc(100vh - 70px);
  flex-direction: column;
  min-width: 100%;
}
.login-border{
  border: 1px solid #0047ab;
  box-shadow: 0 0 3px #0047ab;
  padding: 60px 40px;
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: column;
  border-radius: 5px;
  background: #ffff;
  position: relative;
}
.loading{
  position: absolute;
  top: 0;
  border-radius: 2px;
}
.login-title{
  font-size: 45px;
  margin-bottom: 10px;
  color: #0047ab;
}
.form-group{
  width: 600px;
  display: flex;
  place-content: center;
  place-items: center;
  justify-content: space-evenly;
  margin: 20px 0px;
}
.form-group-btn{
  width: 600px;
  display: flex;
  place-content: flex-end;
  margin: 20px 0px;
  padding: 0px 30px;
}
label{
  min-width: 100px;
  font-size: 20px;
}
input{
  height: 40px;
  width: 400px;
  padding: 0px 10px;
}
.login-btn{
  background-color: #0047ab;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  padding: 5px 30px;
}
.error-container{
  width: 100%;
  margin: 20px 0px;
}
.form-error{
  height: 37px;
  display: flex;
  place-items: center;
  background-color: red;
  color: white;
  padding: 0px 50px;
  border-radius: 35px;
  margin: 0px auto;
  width: fit-content;
}
.form-error > p{
  margin: 0px;
}

/* Tablet CSS */
@media only screen and (max-width: 1024px) {
  .login-container{
    height: calc(100vh - 250px);
  }
  .login-border{
    padding: 10px 20px;
    width: 80%;
    height: 75%;
    margin: 0px;
  }
  .login-title{
    font-size: 60px;
    margin-bottom: 40px;
  }
  .form-group{
    width: 600px;
  }
  .form-group-btn{
    width: 590px;
    padding: 0px 20px;
  }
  label{
    min-width: 120px;
    font-size: 24px;
  }
  input{
    height: 50px;
    width: 380px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 18px;
  }
  .login-btn{
    font-size: 18px;
  }
  .error-container{
    margin: 0px 0px 40px 0px
  }
  .form-error{
    height: 50px;
  }
  .form-error > p{
    font-size: 18px;
  }
}

/* Mobile CSS */
@media only screen and (max-width: 768px) {
  .login-container{
    height: calc(100vh - 200px);
  }
  .login-border{
    padding: 30px 20px;
    width: 98%;
  }
  .login-title{
    font-size: 30px;
    margin: 25px 0px 10px 0px;
  }
  .form-group{
    width: 300px;
    margin: 30px 5px;
    display: flex;
    flex-direction: column;
  }
  .form-group-btn{
    width: 320px;
    padding: 0px 20px;
  }
  label{
    min-width: 80px;
    font-size: 15px;
    margin: 0px 0px 10px 0px;
  }
  input{
    height: 50px;
    width: 95%;
  }
  .login-btn{
    font-size: 18px;
  }
  .form-error{
    height: 47px;
    width: 95%;
    padding: 0px 25px;
  }
  .form-error > p{
    font-size: 15px;
  }
}