@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');

*, h1, h2, h3, h4, h5, h6{
  font-family: 'Comfortaa';
}
.copyright-container{
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: column;
}
.copyright{
  font-size: 15px;
  margin: 0px 0px 20px 0px;
}
.copyright > a{
  text-decoration: none;
}