@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');

*, h1, h2, h3, h4, h5, h6{
  font-family: 'Comfortaa';
}
body{
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}
.dashboard{
  width: 100%;
  height: fit-content;
  max-width: 100%;
  max-height: calc(100% - 71px);
  height: calc(100% - 71px);
  position: relative;
}
.sidenav-content{
  margin: 20px 0px 10px 0px;
}
.quick-glance{
  display: flex;
  flex-direction: row;
  place-items: center;
}
.metric{
  width: 22.5%;
  margin: 0px 1.25%;
  height: 230px;
  border-radius: 5px;
}
.metric:nth-child(even) {
  box-shadow: 5px 5px 5px 5px #be9549;
  border: 2px solid #be9549;
}
.metric:nth-child(odd){
  box-shadow: 0px 0px 15px 2px #003898;
  border: 1px solid #003898;
}