@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');

*, h1, h2, h3, h4, h5, h6{
  font-family: 'Comfortaa';
}
body{
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}
.dashboard{
  width: 100%;
  height: fit-content;
  max-width: 100%;
  max-height: calc(100vh - 71px);
  height: calc(100vh - 71px);
  position: relative;
}
.sidenav-container{
  max-width: 100%;
  height: 100%;
}
.sidenav{
  border-right: 1px solid rgb(220 220 220);
  height: calc(100vh - 71px);
}
.quick-glance{
  display: flex;
  flex-direction: row;
  place-items: center;
  margin: 20px 0px 10px 0px;
}
.metric{
  width: 22.5%;
  margin: 0px 1.25%;
  height: 230px;
  border-radius: 5px;
}
.metric:nth-child(even) {
  border: 2px solid #be9549;
}
.metric:nth-child(odd){
  border: 1px solid #003898;
}
.teacher-edge{
  display: flex;
  flex-direction: column;
  place-items: center;
}
.teacher-edge > .title{
  font-size: 16px;
  margin: 2.5px 0px;
}
.teacher-average{
  font-size: 16px;
  margin: 2.5px 0px;
}
.teacher-image{
  height: 160px;
  width: 98%;
}
.teacher-image > img{
  height: 100%;
  width: 100%;
}
.end-eval, .start-eval{
  color: white;
}
.end-eval{
  background-color: red;
}
.start-eval{
  background-color: green;
}
.evaluation-details{
  margin: 15px 0px;
}
.evaluation-details > .title {
  text-align: center;
  font-weight: bold;
}
.semester-title{
  margin: 0px;
}
.semester-row{
  min-height: 35px;
  margin: 5px 0px;
  display: flex;
  place-items: center;
}
.recent-evaluations{
  width: 100%;
}
.recent-evaluations > table{
  width: 100%;
}
.recent-evaluations > .title{
  text-align: center;
  font-weight: bold;
}
.sidenav-options{
  display: flex;
  flex-direction: row;
  margin: 30px 0px;
}
.sidenav-options > .icon{
  margin-right: 15px;
  font-size: 20px;
  color: #be9549;
}
.sidenav-options:hover{
  cursor: pointer;
}
.sidenav-options > .title{
  margin: 0px;
  font-size: 16px;
}
.sections-and-questions-title{
  text-align: center;
  font-size: 18px;
  margin: 10px 0px 10px 0px;
}
.expansion-panel{
  margin: 0px 0px 10px 0px;
}
.edit{
  color: #003898;
}
.delete{
  color: red;
}
.question-title{
  margin: 0px;
  font-size: 16px;
  max-width: 90%;
  height: fit-content;
}
.question-actions{
  position: absolute;
  right: 0px;
}
.question-actions > .icon{
  margin: 0px 0px 0px 15px;
}
.question-list{
  height: fit-content !important;
  min-height: 40px;
}
.add-button-container{
  display: flex;
  place-content: flex-end;
  width: 100%;
}
.charts-container{
  height: 100%;
}
.charts-container > canvas{
  height: 100% !important;
  width: 100% !important;
}