<div class="container login-container">
  <div class="login-border">  
    <mat-progress-bar mode="indeterminate" *ngIf="loading" class="loading"></mat-progress-bar>

    <form (submit)="submitEvaluation()">
      <div class="error-container" [@errorAnimation]="error? 'animate' : 'nothing'">
        <div class="form-error">
          <p *ngIf="error">{{error}}</p>
        </div>
      </div>

      <mat-stepper linear #student_stepper class="stepper">
        <!-- Department, Course & lecturer -->
        <mat-step [completed]="(department && course && lecturer) ? true : false">
          <div class="form-group">
            <mat-form-field class="form-field">
              <mat-label>Department</mat-label>
              <mat-select name="department" [disabled]="deptIsDisabled" [value]="department">
                <mat-option [value]="department">
                  {{department}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="form-field">
              <mat-label>Course</mat-label>
              <mat-select name="course" (valueChange)="formValueChanged($event, 'course')" [value]="course">
                <mat-option *ngFor="let course of courses" [value]="course">
                  {{course}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="form-field">
              <mat-label>Lecturer</mat-label>
              <mat-select name="lecturer" (valueChange)="formValueChanged($event, 'lecturer')" [value]="lecturer">
                <mat-option *ngFor="let lecturer of lecturers" [value]="lecturer">
                  {{lecturer}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group-btn">
            <button mat-raised-button class="login-btn" [disabled]="formIsDisabled"
              type="button" matStepperNext (click)="getQuestions(1)">Begin</button>
          </div>
        </mat-step>
        
        <!-- Questions -->
        <mat-step *ngFor="let section of sectionsArray, let sectionGroup = index">
          <h2 class="section-title">{{section.title}}</h2>
          <div class="form-group-questions" *ngFor="let question of questionsArray[section.id - 1], let questionNo = index">
            <label for="question.title">{{questionNo + 1}}. {{question.title}}</label>
            <ngb-rating [max]="5" [readonly]="false" [(rate)]="question.score">
              <!-- provides custom layout -->
              <ng-template let-fill="fill" let-index="index">
                <span class="star" [class.filled]="fill === 100" [class.bad]="index <= 1" 
                  [class.average]="index === 2" [class.great]="index > 2">
                  &#9733;
                </span>
              </ng-template>
            </ngb-rating>
          </div>

          <div class="form-group-btn">
            <button mat-raised-button class="login-btn" [disabled]="formIsDisabled"
              type="button" matStepperPrevious>Previous</button>
            <button mat-raised-button class="login-btn next-btn" [disabled]="formIsDisabled"
              type="button" matStepperNext (click)="getQuestions(section.id + 1)">Next</button>
          </div>
        </mat-step>

        <!-- Open Ended Remark -->
        <mat-step>
          <div class="form-group-questions">
            <label for="openEndedQuestions">Kindly leave any final remarks about {{lecturer}}</label>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Leave a comment</mat-label>
              <textarea [(ngModel)]="openEndedRemark" name="openEndedRemark" matInput 
                placeholder="Ex. He/She makes me feel..." (keyup)="getWordCount()"
                class="remark"></textarea>
              <mat-hint align="end">{{remarkWordCount}}/150 Words</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group-btn special-btns">
            <button mat-raised-button class="login-btn" [disabled]="formIsDisabled"
              type="button" matStepperPrevious>Previous</button>
            <button mat-raised-button class="login-btn next-btn" [disabled]="formIsDisabled"
              (click)="stepper = student_stepper">Submit Evaluation</button>
          </div>
        </mat-step>
      </mat-stepper>
    </form>
  </div>
</div>