@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');

*, h1, h2, h3, h4, h5, h6{
  font-family: 'Comfortaa';
}

.login-container{
  display: flex;
  place-content: center;
  place-items: center;
  margin: 40px 0px;
  flex-direction: column;
  min-width: 100%;
}
.login-border{
  border: 1px solid #0047ab;
  box-shadow: 0 0 3px #0047ab;
  padding: 60px 40px;
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: column;
  border-radius: 5px;
  background: #ffff;
}
.form-group{
  width: 600px;
  display: flex;
  place-content: center;
  place-items: center;
  justify-content: space-evenly;
  margin: 20px 0px;
}
.form-group-btn{
  width: 600px;
  display: flex;
  place-content: flex-end;
  margin: 20px 0px;
  padding: 0px 30px;
}
.login-btn{
  background-color: #0047ab;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  padding: 5px 30px;
}
.error-container{
  width: 100%;
  margin: 20px 0px;
}
.form-error{
  height: 37px;
  display: flex;
  place-items: center;
  background-color: red;
  color: white;
  padding: 0px 50px;
  border-radius: 35px;
  margin: 0px auto;
  width: fit-content;
}
.form-error > p{
  margin: 0px;
}
.form-field{
  width: 535px;
}

/* Tablet CSS */
@media only screen and (max-width: 1024px) {
  .login-container{
    margin: 60px 0px;
  }
  .login-border{
    max-width: 95vw;
    height: 700px;
  }
  .stepper{
    width: 90vw;
  }
  .form-field{
    font-size: 20px;
  }
  .form-group{
    width: 100%;
  }
  .form-group-questions > label {
    font-size: 18px;
  }
  .form-group-btn{
    padding: 0px 10px;
  }
}

/* Mobile CSS */
@media only screen and (max-width: 768px) {
  .login-container{
    margin: 30px 0px;
  }
  .login-border{
    max-width: 95vw;
    min-height: 500px;
    height: fit-content;
    padding: 10px;
  }
  .form-field{
    font-size: 16px;
    max-width: 95%;
  }
  .form-group{
    width: 100%;
  } 
  .form-group-btn{
    width: 100%;
  }
  .login-btn{
    padding: 5px 15px;
    font-size: 15px;
  }
  .staff-form{
    width: 100%;
  }
}